@font-face {
    font-family: Savior1;
    src: url("fonts/Savior1.ttf");
}
.tab {
    -fx-padding: 0;
}
.tab-pane .tab-header-area {
    visibility: hidden;
    -fx-padding: 0;
}
* {
    -fx-font-family: Savior1;
}
#topBar {
    -fx-background-color: black;
}
#header, #footer {
    -fx-background-image: url("textures/dark_background.png");
}
#content {
    -fx-background-image: url("textures/light_background.png");
}
#languageButton, #switchAccountButton {
    -fx-font-size: 25px;
    -fx-text-fill: white;
}
#languageButton:hover, #switchAccountButton:hover {
    -fx-text-fill: yellow;
}
#languageButton {
    -fx-graphic: url("textures/language.png");
}
#switchAccountButton {
    -fx-graphic: url("textures/logout.png");
}
.menuItem {
    -fx-font-size: 30px;
    -fx-text-fill: white;
}
.selectedItem {
    -fx-background-image: url("textures/menu_label.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: cover;
}
#playButton, #profilesButton {
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: cover;
    -fx-background-insets: 0;
}
#playButton {
    -fx-font-size: 50px;
    -fx-text-fill: white;
    -fx-background-image: url("textures/playbutton.png");
}
#playButton:hover {
    -fx-background-image: url("textures/playbutton_hover.png");
}
#playButton:pressed {
    -fx-background-image: url("textures/playbutton_press.png");
}
#profilesButton {
    -fx-background-image: url("textures/profile.png");
}
#profilesButton:hover {
    -fx-background-image: url("textures/profile_hover.png");
}
#profilesButton:pressed {
    -fx-background-image: url("textures/profile_press.png");
}
#progressText {
    -fx-font-size: 30px;
    -fx-text-fill: white;
}
.list-cell:hover {
    -fx-background-color: -fx-selection-bar;
}
.loginComponent {
    -fx-font-size: 30px;
}
#languagesList .label{
    -fx-font-size: 25px;
}
.loginButton {
    -fx-text-fill: white;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: cover;
    -fx-background-insets: 0;
    -fx-background-image: url("textures/button_normal.png");
}
.loginButton:hover {
    -fx-background-image: url("textures/button_hover.png");
}
.text-field {
    -fx-text-box-border: black;
}