@font-face {
    font-family: Minecraftia;
    src: url("fonts/Minecraftia-Regular.ttf");
}

.darkBackground {
    -fx-background-image: url("textures/login-background.png");
}

.lightBackground .viewport {
    -fx-background-image: url("textures/background.png");
}
#languages, #switchAccount {
    -fx-font: 12pt "Minecraftia";
    -fx-text-fill: white;
    -fx-graphic-text-gap: 10px;
    -fx-padding: 5px;
}
#languages {
    -fx-graphic: url("textures/language.png");
}

#switchAccount {
    -fx-graphic: url("textures/logout.png");
}

#playButton {
    -fx-font: 22pt "Minecraftia";
    -fx-text-fill: white;

    -fx-background-image: url("textures/playbutton.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: cover;
}

#profileButton {
    -fx-background-image: url("textures/profile.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: cover;
}

.selected {
    -fx-background-image: url("textures/menu_label.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: cover;
}