@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
body {
  background:#bdc3c7;
}
progress{
    height: 15px; 
    width: 100%
}
.bigRedNavi {
  margin-top:25px;
  width: 100%;
  border-right: none;
  font-family: 'Open Sans', sans-serif;
  font-size:20px;
  z-index:100;
}

.bigRedNavi ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.bigRedNavi ul li {
  list-style: none;
  float: left;
  text-align: center;
  width: 25%; /* fallback for non-calc() browsers */
  width: calc(100% / 4);
  box-sizing: border-box;
}

.bigRedNavi ul li:first-child {
  border-left: none;
}

.bigRedNavi ul li a {
  color: #fff;
  padding: 30px 0 30px 0;
  display: block;
  text-decoration: none;
  text-transform:uppercase;
  transition: background .5s ease-out;
}

.heroUnit {
  background: 
    linear-gradient(
      rgba(44, 62, 80,0.25), 
      rgba(44, 62, 80,0.6)
    ),
    url(../img/background.jpg);
  background-position: center center;
  background-size:cover;
}
.logo {
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
  text-transform: uppercase;
  text-align:center;
  padding: 40px 0 100px 0;
}
.logo .first {
  color:#ffffff;
}
.play-now-box {
  padding: 60px 0 100px 0;
}
.panel-play-now {
  padding: 10px 5px 10px 5px;
  color:#ffffff;
  border:0;
  text-align:center;
  text-transform:uppercase;
  transition: background .5s ease-out;
  height:60px;
  font-size:22px;
  font-family: 'Open Sans', sans-serif;
}
.panel-play-now:hover {
  cursor:pointer;
}
.ip {
  margin: 4px;
}
.loginInput{
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}
.loginInputs{
  margin-bottom: 10px;
  margin-left: 18%;
}
.mainBody {
  margin:40px 0 0 0;
}
.box-title {
  color:#ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
  text-transform:uppercase;
  padding:10px 10px 10px 10px;
}
.login {
  width: 500px; height: 380px; margin-right: auto; margin-left: auto;
}
.white-box {
  background:#eee;
  width:100%;
  padding:20px 10px 20px 10px;
  border-bottom:solid 3px #3498db;
  margin-bottom:40px;
}
.red-button {
  font-family: 'Open Sans', sans-serif;
  color:#fff;
  padding:15px;
  text-align:center;
  transition: background .5s ease-out;
}
.red-button:hover, .red-button:visited, .red-button:active {
  text-decoration:none;
  color:#fff;
}
.wide {
  display:block;
  width:100%;
}
.playButton{
  font-size:30px;
}
.copyright {
  margin:0;
  text-align:center;
}